<header class="site-header">
    <div class="header-top">
      <div class="logo">
        <img src="logo.png" alt="Nile Online Market Logo">
      </div>
      <button class="nav-toggle" onclick="toggleNav()">☰</button>

      <div class="auth-links">
        <button onclick="showLogin()">Login</button>
        <button onclick="showSignup()">Sign Up</button>
      </div>
      
</div>
  
    <nav id="mainNav">
      <div class="nav-header">
        <span>Menu</span>
        <button class="close-btn" onclick="toggleNav()">✕</button>
      </div>
      <ul class="main-menu">
        <li><a href="#">Home</a></li>
        <li class="dropdown">
          <a href="#" onclick="toggleDropdown(event)">Shop</a>
          <ul class="dropdown-menu">
            <li class="sub-dropdown">
              <a href="#" onclick="toggleSubDropdown(event)">Clothing</a>
              <ul class="sub-menu">
                <li><a href="apparel-women.html">Women</a></li>
                <li><a href="apparel-women-dresses.html">Dresses</a></li>
                <li><a href="apparel-women-bags.html">Hand Bags</a></li>
                <li><a href="apparel-men.html">Men</a></li>
                <li><a href="apparel-men-shirts.html">Shirts</a></li>
                <li><a href="apparel-men-pants.html">Pants</a></li>
                <li><a href="apparel-men-suits.html">Suits</a></li>
              </ul>
            </li>
            <li class="sub-dropdown">
              <a href="#" onclick="toggleSubDropdown(event)">Electronics & Supplies</a>
              <ul class="sub-menu">
                <li><a href="materials-books.html">Books</a></li>
                <li><a href="materials-phones.html">Phones</a></li>
                <li><a href="materials-laptops.html">Laptops</a></li>
              </ul>
            </li>
            <li class="sub-dropdown">
              <a href="#" onclick="toggleSubDropdown(event)">Automotive</a>
              <ul class="sub-menu">
                <li><a href="vehicles-cars.html">Cars</a></li>
                <li><a href="vehicles-motorcycles.html">Motorcycles</a></li>
                <li><a href="vehicles-bicycles.html">Bicycles</a></li>
              </ul>
            </li>
            <li class="sub-dropdown">
              <a href="#" onclick="toggleSubDropdown(event)">Foods & Grains</a>
              <ul class="sub-menu">
                <li><a href="foods-tef.html">Tef</a></li>
                <li><a href="foods-wheat.html">Wheat</a></li>
                <li><a href="foods-tastefoods.html">Taste Foods</a></li>
              </ul>
            </li>
            <li class="sub-dropdown">
              <a href="#" onclick="toggleSubDropdown(event)">Gulit Market</a>
              <ul class="sub-menu">
                <li><a href="gulit-rice.html">Rice</a></li>
                <li><a href="gulit-oil.html">Cooking Oil</a></li>
                <li><a href="gulit-spices.html">Spices</a></li>
                <li><a href="gulit-coffee.html">Ethiopian Coffee</a></li>
                <li><a href="gulit-berbere.html">Berbere</a></li>
                <li><a href="gulit-shiro.html">Shiro</a></li>
                <li><a href="gulit-onions.html">Red Onions</a></li>
                <li><a href="gulit-garlic.html">Garlic</a></li>
                <li><a href="gulit-pasta.html">Macaroni / Pasta</a></li>
                <li><a href="gulit-flour.html">Wheat Flour</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
  